[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
toml = "*"
flask-wtf = "*"
psycopg2 = "*"
passlib = "*"
is-safe-url = "*"
requests = "*"
w3lib = "*"

[dev-packages]
pylint = "*"
pytest = "*"
ipython = "*"

[requires]
python_version = "3.7"

[packages.gunicorn]
extras = [ "gevent",]
