<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>PSDash - {% block title %}Dashboard{% endblock %}</title>

  <!-- Favicon Icon -->
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/merfrei64.png') }}"/>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><a class="text text-primary" href="{{ url_for('dashboard.dashboard') }}">PSDash </a></div>
      <div class="list-group list-group-flush">
        <a href="{{ url_for('dashboard.targets') }}" class="list-group-item list-group-item-action bg-light">Targets</a>
        <a href="{{ url_for('dashboard.proxies') }}" class="list-group-item list-group-item-action bg-light">Proxies</a>
        <a href="{{ url_for('dashboard.types') }}" class="list-group-item list-group-item-action bg-light">Types</a>
        <a href="{{ url_for('dashboard.locations') }}" class="list-group-item list-group-item-action bg-light">Locations</a>
        <a href="{{ url_for('dashboard.providers') }}" class="list-group-item list-group-item-action bg-light">Providers</a>
	<a href="{{ url_for('dashboard.plans') }}" class="list-group-item list-group-item-action bg-light">Plans</a>
        <a href="{{ url_for('dashboard.stats') }}" class="list-group-item list-group-item-action bg-light">Stats</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle"><</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login.logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
	{% block content %}
	<h1>PSDash Welcome!</h1>
	{% endblock %}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
	e.preventDefault();
	if ($(this).text() == '<') {
	    $(this).text('>');
	} else {
	    $(this).text('<');
	}
	$("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
