{% extends 'dashboard/dashboard.html' %}

{% block title %}Plans{% endblock %}

{% block content %}

{% if form.id.data %}
<h2 class="mt-4">Edit Plan</h2>
{% else %}
<h2 class="mt-4">New Plan</h2>
{% endif %}

<form method="POST">
  {{ form.csrf_token }}
  {% if form.id.data %}
  <input type="hidden" name="id" value="{{ form.id.data }}">
  {% endif %}
  <div class="form-group">
    <label for="{{ form.provider.id }}">{{ form.provider.label }}</label>
    <select class="form-control" id="{{ form.provider.id }}" name="{{ form.provider.name }}" required>
      {% for pvid, prov in form.provider.choices %}
      <option value="{{ pvid }}" {% if pvid == form.provider.data %}selected{% endif %}>{{ prov }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="{{ form.name.id }}">{{ form.name.label }}</label>
    <input type="text" class="form-control" id="{{ form.name.id }}" name="{{ form.name.name }}" placeholder="Private 50" {% if form.name.data %}value="{{ form.name.data }}"{% endif %} required>
  </div>
  <div class="form-group">
    <label for="{{ form.code.id }}">{{ form.code.label }}</label>
    <input type="text" class="form-control" id="{{ form.code.id }}" name="{{ form.code.name }}" placeholder="P50" {% if form.code.data %}value="{{ form.code.data }}"{% endif %} required>
  </div>
  <input type="submit" class="btn btn-primary" value="{% if form.id.data %}Edit{% else %}Add{% endif %}">
  {% if form.id.data %}
  <input type="submit" class="btn btn-danger" value="Delete" formaction="{{ url_for('dashboard.plan_edit', delete=1) }}">
  {% endif %}
</form>

{% endblock %}
