{% extends 'dashboard/dashboard.html' %}

{% block title %}Types{% endblock %}

{% block content %}

{% if form.id.data %}
<h2 class="mt-4">Edit Type</h2>
{% else %}
<h2 class="mt-4">New Type</h2>
{% endif %}

<form method="POST">
  {{ form.csrf_token }}
  {% if form.id.data %}
  <input type="hidden" name="id" value="{{ form.id.data }}">
  {% endif %}
  <div class="form-group">
    <label for="{{ form.name.id }}">{{ form.name.label }}</label>
    <input type="text" class="form-control" id="{{ form.name.id }}" name="{{ form.name.name }}" placeholder="Residential" {% if form.name.data %}value="{{ form.name.data }}"{% endif %} required>
  </div>
  <div class="form-group">
    <label for="{{ form.code.id }}">{{ form.code.label }}</label>
    <input type="text" class="form-control" id="{{ form.code.id }}" name="{{ form.code.name }}" placeholder="RES" {% if form.code.data %}value="{{ form.code.data }}"{% endif %} required>
  </div>
  <input type="submit" class="btn btn-primary" value="{% if form.id.data %}Edit{% else %}Add{% endif %}">
  {% if form.id.data %}
  <input type="submit" class="btn btn-danger" value="Delete" formaction="{{ url_for('dashboard.type_edit', delete=1) }}">
  {% endif %}
</form>

{% endblock %}
